@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background-color: #000000bb;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #000000bd;
  border-radius: 20px;
}

.images {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.image-left-sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 10;
  cursor: url("../assets/arrow-left.svg") 15 8, e-resize;
}

.image-right-sec {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 10;
  cursor: url("../assets/arrow-right.svg") 15 8, e-resize;
}
/* input{
  transition: all 250ms;
  border: 2px solid #e4e4e4;
  background-color: #e4e4e4;
  outline: none;
}

input:focus{
  border: 2px solid #6925a8;
}

input:focus::placeholder{
  font-weight: bolder;
  color:rgb(105, 37, 168);
} */

/* Dynamic Product Section Button */
.product-btn:hover .product-btn-dot {
  background-color: white;
}

/* sizes-menu */
.sizes-menu div {
  transition: all 300ms;
}

.sizes-menu div:hover {
  background-color: #8080807a;
}

.bar {
  position: relative;
  top: 0;
  background-color: #f05222 !important;
  height: 4px !important;
}

.cart-scroll-container::-webkit-scrollbar {
  display: none;
}

.toastAnimation {
  animation: toastAnimation 400ms forwards;
}
.provider-container {
  position: relative;
  z-index: 5;
}
.provider-container::before {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "Express Checkout";
  color: #1f1f1f;
  font-weight: 600;
  z-index: 10;
  background-color: white;
  padding: 0 10px;
  font-size: 12px;
}

@keyframes toastAnimation {
  from {
    height: 0;
  }
  to {
    height: 4rem;
  }
}
input {
  transition: all 300ms;
}

.cart-image-length {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10px, -10px);
  padding: 3px 10px;
  border-radius: 50%;
  background-color: #313131;
  color: white;
  font-size: 14px;
  z-index: 10;
}
/* .checkout-right-sec {
  background: linear-gradient(to bottom, #bbbbbb, #f0f0f0, #f0f0f0, white);
} */
/* .checkout-sec{
  z-index: 20;
} */

.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: #0000009c;
  z-index: -10;
}

.checkout-back {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: #333333; 
  background: -webkit-linear-gradient(
    to right,
    #333333,
    #dd1818
  );
  background: linear-gradient(
    to right,
    #333333,
    #dd1818
  ); */
}
