@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background-color: #000000bb;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #000000bd;
  border-radius: 20px;
}

.images {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.image-left-sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 10;
  cursor: url("../assets/arrow-left.svg") 15 8, e-resize;
}

.image-right-sec{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 10;
  cursor: url("../assets/arrow-right.svg") 15 8, e-resize;
}

/* input{
  transition: all 250ms;
  border: 2px solid #e4e4e4;
  background-color: #e4e4e4;
  outline: none;
}

input:focus{
  border: 2px solid #6925a8;
}

input:focus::placeholder{
  font-weight: bolder;
  color:rgb(105, 37, 168);
} */

/* Dynamic Product Section Button */
.product-btn:hover .product-btn-dot {
  background-color: white;
}

/* sizes-menu */
.sizes-menu div {
  transition: all 300ms;
}

.sizes-menu div:hover {
  background-color: #8080807a;
}

.bar {
  position: relative;
  top: 0;
  background-color: #f05222 !important;
  height: 4px !important;
}

.cart-scroll-container::-webkit-scrollbar {
  display: none;
}
